* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2E4F3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.title {
    padding-bottom: 2%;
}

.subtitle {
    margin: 15px 0px;
}

a {
    text-decoration: none;
    color: #4644B6;
}

button {
    box-shadow: none;
}

.social-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.google-btn{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid rgb(214, 207, 207);
}

.google-image {
    width: 10%;
    float: left;
    margin-right: 5px;
}

.fb-btn {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #4644B6;
}

.facebook-image {
    width: 60%;
}

.separator {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0px 20px ;
 }

.line {
    flex-grow: 1;
    height: 0.5px;
    background-color: rgb(214, 207, 207);
 }

.email-login {
    text-align: left;
    display: flex;
    flex-direction: column;
    color: grey;
}

label {
    margin-bottom: 10px;
 }

input {
    margin-bottom: 15px;
    height: 40px;
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(214, 207, 207);
}

input::placeholder {
    font-size: 10px;
    text-indent: 15px;
}

.cta-btn {
    margin: 15px 0px ;
    background-color:#4644B6;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 10px;
    border: 2px solid #4644B6;
}
